<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/icons/HouseLine.png" type="image/x-icon">
    <link rel="stylesheet" href="static/Style/sell.css">
    <title>Sell</title>
</head>
<body>
    <!------------------- nav  ----------------->
    <header>
        <div class="logo"><img src="static/images/logo footer.png" alt="logo"> </div>
        <ul class="navbar">
            <li><a href="/">HOME</a></li>
            <li><a href="Propertice.html">PROPERTIES</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#About">ABOUT US</a></li>
        </ul>
    </header>
    <main>
        <!---------------- head ----------------->
        <section id="head">
            <div class="img-head">
                <div class="info-head">
                    <h1>SELL</h1>
                    <span>Home / Sell</span>
                </div>
            </div>
        </section>
        <!---------------- Form-sale  ----------------->
       <section id="sell"><div class="container">
            <h2>Sell</h2>
            <form action="#">
                <div class="form-group">
                <label for="name">Full name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label for="phone">phone</label>
                <input type="tel" name="phone" id="phone" placeholder="Enter your phone">
              </div>
              <div class="form-group">
                <label for="address" >address</label><br>
                <select name="address" id="address">
                    <option value="">Select your city</option>
                    <option value="Baghdad">Baghdad</option>
                    <option value="Ramadi">Ramadi</option>
                    <option value="Basra">Basra</option>
                    <option value="Duhok">Duhok</option>
                    <option value="Erbil">Erbil</option>
                    <option value="Karbala">Karbala</option>
                    <option value="Kirkuk">Kirkuk</option>
                    <option value="Najaf">Najaf</option>
                    <option value="Mosul" >Mosul</option>
                    <option value="Tikrit">Tikrit</option>
                    <option value="Slemani">Slemani</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">Title</label>
                <input type="text" name="title" id="title" placeholder="Enter your title">
              </div>
              <div class="form-group ">
                <label for="descrpation">descrpation</label>
                <input type="text" name="descrpation" id="descrpation" placeholder="descrpation" class="details">
              </div>
              <div class="form-group">
                <label for="price">PRICE</label>
                <input type="number" name="price" id="price" placeholder="Enter your price">
              </div>
              <div class="form-group">
                <label for="rooms">ROOM</label>
                <input type="number" name="rooms" id="rooms" placeholder="Enter your room">
              </div>
              <div class="form-group">
                <label for="space">SPACE</label>
                <input type="number" name="space" id="space" placeholder="Enter your space">
              </div>
              <div class="form-group">
                <label for="upload">Upload File</label>
                <input type="file" name="upload" id="upload">
              </div>
                <input type="submit" value="Upload">
            
            </form>
        </div>  
       </section>
    </main>
        <!------------- footer  --------------->
    <footer id="About">
        <div class="container">
            <div class="row">
                <!--------------- Start Col-1-4 ---------------->
                <div class="col-1-4 col-1">
                    <div class="info-contact">
                    <div class="logo-footer"><img src="static/images/logo footer.png"></div>
                    <div class="info-footer">
                        <h3>Contact Us</h3>
                        <p>Call : 07808568379</p>
                        <p>Call : 07711690829</p>
                        <p>Call : 07834400476</p>
                        <span class="email-info">Email: abdullaking48@gmail.com</span>
                    </div>
                    <div class="social-links">
                        <a href="#" class="img-facebook"><img src="static/images/facebook.png"></a>
                        <a href="#" class="img-insta"><img src="static/images/instgram.png"></a>
                    </div>
                </div>
                </div>
                <!----------------- End Col-1-4 ---------------->
                <!--------------- Start Col-1-4 ---------------->
                <div class="col-1-4">
                    <div class="Features">
                 <h3>Features</h3>
                 <div class="links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Become a Host</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                 </div>
                 </div>

                <!----------------- End Col-1-4 ---------------->
                <!--------------- Start Col-1-4 ---------------->
                <div class="col-1-4">
                    <div class="CompanY">
                 <h3>Company</h3>
                 <div class="links">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                 </div>
                </div>
                </div>
                <!----------------- End Col-1-4 ---------------->
                <!--------------- Start Col-1-4 ---------------->
                <div class="col-1-4">
                    <div class="Team">
                 <h3>Team and policies</h3>
                 <div class="links">
                    <ul>
                        <li><a href="#">Terms of servies</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                 </div>
                </div>
                 </div>
                <!----------------- End Col-1-4 ---------------->
            </div>
        </div>
    </footer>
    <script src="/static/sell.js"></script>
</body>
</html>