<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="static/icons/HouseLine.png" type="image/x-icon">
    <link rel="stylesheet" href="static/Style/singup.css">
    <title>Sing up</title>
</head>
<body>
    <div class="form-singup">
        <div class="container">
         <img src="static/images/Rectangle 33.png" alt="img">
        <div class="register">
            <h2>Sign up</h2>
            <form action="#">
                <div class="form-group">
                    <label for="name" id="name">Full name</label>
                    <input type="text" placeholder="Enter your name" id="name">
                </div>
                <div class="form-group">
                    <label for="email" id="email">Email address</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="password" id="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                    <label for="Confirm" id="Confirm">Confirm password</label>
                    <input type="password" name="Confirm" id="Confirm" placeholder="Enter your confirm password" required>
                </div>
                <div class="form-group">
                    <label for="phone" id="phone">Phone</label>
                    <input type="tel" name="phone" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="date">Birth</label>
                    <input type="date" name="date" id="date">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    </div>
</body>
</html>